<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>
      @media print {
        .new-page {
          page-break-before: always;
        }
      }
    </style>
  </head>

  <body >
    <%= render 'layouts/layouts/cabecario_pdf', nme_relatorio: Register::AnimalType.human_attribute_name(:nme_modulo)%>
    <div class="table-responsive-sm">
      <table class="table table-striped table-bordered table-centered table-sm mb-0">
        <thead class="thead-light">
          <tr>
            <th>Tipo de Animal</th>
            <th>Observaçōes</th>
          </tr>
        </thead>
        <tbody>
          <% @register_animal_types.each do |register_animal_type| %>
            <tr>
              <td><%= register_animal_type.nme_animal %></td>
              <td><%= register_animal_type.obs %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </body>
</html>
